nav{
    background: rgb(11, 133, 214);
    /* background: rgb(224, 94, 7); */
    margin-bottom: 70px;
    height: 65px;
    /* box-shadow: -2px 5px 10px 3px #888888; */
}

.navbar-brand{
    font-size: 25px;
    font-weight: 500;
    /* color: rgb(102, 100, 100); */
    border: solid 2px white;
    padding: 0 10px;
}