
<button class="btn btn-primary btn-1"><a class="text-white" routerLink="/products/list">Back To List</a></button>

<table class="table table-striped table-bordered table-dark table-hover">
    <tbody>
        <tr>
            <td>id</td>
            <!-- <td>{{product.id}}</td> -->
            <td>{{product.id}}</td>
        </tr>
        <tr>
            <td>partNbr</td>
            <td>{{product.partNbr}}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <td>price</td>
            <td>{{product.price}}</td>
        </tr>
        <tr>
            <td>unit</td>
            <td>{{product.unit}}</td>
        </tr>
        <tr>
            <td>photoPath</td>
            <td>{{product.photoPath}}</td>
        </tr>
        <tr>
            <td>vendorId</td>
            <td>{{product.vendorId}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success btn-3"><a class="text-white" routerLink="/products/create">Create</a></button>
<button class="btn btn-danger btn-2" onclick="remove()">Delete</button>
