<button class="btn btn-primary btn-1"><a class="text-white" routerLink="/requests/list">Back To List</a></button>

<table class="table table-striped table-bordered table-dark table-hover">
    <tbody>
        <tr>
            <td>id</td>
            <td>
                <!-- <input class="text-center" value="{{request.id}}" type="text" size=10 readonly> -->
            </td>
        </tr>
        <tr>
            <td>description</td>
            <td>
                <!-- <input class="text-center" value="{{request.description}}" type="text" size=50> -->
            </td>
        </tr>
        <tr>
            <td>justification</td>
                <!-- <input class="text-center" value="{{request.justification}}" type="text" size=30> -->
        </tr>
        <tr>
            <td>rejectionReason</td>
                <!-- <input class="text-center" value="{{request.rejectionReason}}" type="text" size=60> -->
        </tr>
        <tr>
            <td>deliveryMode</td>
            <!-- <input class="text-center" value="{{request.deliveryMode}}" type="text" size=30> -->
        </tr>
        <tr>
            <td>status</td>
            <!-- <input class="text-center" value="{{request.status}}" type="text" size=30> -->
        </tr>
        <tr>
            <td>total</td>
            <!-- <input class="text-center" value="{{request.total}}" type="text" size=10> -->
        </tr>
        <tr>
            <td>userId</td>
            <!-- <input class="text-center" value="{{request.userId}}" type="text" size=30> -->
        </tr>
    </tbody>
</table>

<button class="btn btn-2 btn-secondary">Save</button>
