/* ================== NAV =================== */

nav{
    background: rgb(224, 94, 7);
    margin-bottom: 70px;
    height: 60px;
}

/* .navbar-brand{
    font-size: 25px;
    font-weight: 500;
    border: solid 2px white;
} */

a{
    text-decoration: none;
    color: azure;
    /* background: rgb(4, 140, 150); */
    padding: 0 10px;
    font-size: 20px;
}

.aa:hover{
    /* background: rgb(4, 86, 92); */
    text-decoration: underline;
    color: azure;
}


/* =================== TABLE =================== */

/* table{
    
} */