<button class="btn btn-primary btn-1"><a class="text-white" routerLink="/requests/list">Back To List</a></button>

<h4>Request</h4>
<table class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <th>id</th>
            <th>description</th>
            <th>rejectionReason</th>
            <th>status</th>
            <th>total</th>
            <th>user</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td><span [ngClass]="statusStyle">{{request.rejectionReason}}</span></td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.username}}</td>
            <td>
                <button (click)="review(request)" class="btn btn-info">Review</button>
            </td>
        </tr>
    </tbody>
</table>
<h4>Requestlines</h4>
<button class="btn btn-success btn-3"><a class="text-white" routerLink="/requestlines/create/{{request.id}}">Create</a></button>
<table class="table table-striped table-bordered table-dark table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>product</th>
            <th>quantity</th>
            <th>price</th>
            <th>subtotal</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf = "request">
        <tr *ngFor="let rl of request.requestLines">
            <td>{{rl.id}}</td>
            <td>{{rl.product !== undefined ? rl.product.name : "missing"}}</td>
            <td>{{rl.quantity}}</td>
            <td>{{(rl.product !== undefined ? rl.product.price : -1) | currency}}</td>
            <td>{{rl.quantity * (rl.product !== undefined ? rl.product.price : -1) | currency}}</td>
            <td>
                <span><button (click)="editLine(rl.id)" class="btn btn-info">Edit</button></span>
                <span> | <button (click)="deleteLine(rl.id)" class="btn btn-info">Delete</button></span>
            </td>
        </tr>
    </tbody>
</table>