<table class="table table- table-striped table-bordered table-dark table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>description</th>
            <th>justification</th>
            <th>rejectionReason</th>
            <th>deliveryMode</th>
            <th>status</th>
            <th>total</th>
            <th>user</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.deliveryMode}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user?.username}}</td>
            <td>
                <a class="text-white" routerLink="/requests/detail/{{request.id}}">Detail</a> | <a class="text-white" routerLink="/requests/edit/{{request.id}}">Edit</a> | <a class="text-white" routerLink="/requests/lines/{{request.id}}">Lines</a>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success btn-3"><a class="text-white" routerLink="/requests/create">Create</a></button>