table{
    margin-left: 600px;
    width: 500px;
    height: 150px;
    margin-top: 200px;
}
a{
    text-decoration: none;
}

.btn-1{
    margin-left: 600px;
    margin-bottom: 15px;
}

.btn-2{
    margin-left: 507px;

}

.btn-3{
    margin-left: 350px;
}

/* table{
    margin-left: 500px;
    width: 650px;
    height: 250px;
} */