<button class="btn btn-primary btn-1"><a class="text-white" routerLink="/requests/list">Back To List</a></button>

<table class="table table-striped table-bordered table-dark table-hover">
    <tbody>
        <tr>
            <td>id</td>
            <td>
                <input [(ngModel)]="requestline.id" class="text-center" value="{{requestline.id}}" type="text" size=10 disabled>
            </td>
        </tr>
        <tr>
            <td>Product</td>
            <td>
                <select [(ngModel)]="requestline.productId" name="productId">
                    <option *ngFor="let p of products" value="{{p.id}}">{{p.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>quantity</td>
            <td>
                <input [(ngModel)]="requestline.quantity" name="quantity" value="{{requestline.quantity}}" type="number" size=20>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-2 btn-secondary" (click)="save()">Save</button>